# Created by https://www.toptal.com/developers/gitignore/api/laravel,serverless
# Edit at https://www.toptal.com/developers/gitignore?templates=laravel,serverless

### Laravel ###
/vendor/
node_modules/
npm-debug.log
yarn-error.log
.env
.env.backup

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

### Serverless ###
# Ignore build directory
.serverless

# End of https://www.toptal.com/developers/gitignore/api/laravel,serverless